<table>
	<thead>
		<tr>
			<th> transaction </th>
			<th> date </th>
			<th> amount </th>
			<th> description </th>
			<th> balance </th>
			<th> Edit </th>
			<th> Destroy </th>
			<th> Recurrent </th>
		</tr>
	</thead>

	<% @presentation.each do |h| %>
    <tr>
    <td> </td>
		<td class="month" id=<%= h[:month_name] %>  > 
			<b> <%= h[:month_name] + " " + @kashflow.year.to_s %> </b>
		</td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    </tr>

		<div class="month" id=<%= h[:month_name] %> >

		<% h[:items].each do |item| %>
		<%= item.tr %>

		  <%= item.to_row %>

			<%= item.colored_balance %>

			<td> <%= link_to "Edit", edit_item_path( item ) %> </td>
			<td> <%= link_to "X", item, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
			<td> 
				<%= 
					item.recurrent? ? 
					link_to( "by month day", item.recurrent_item, method: :delete ) : 
						"ordinary"
				%> 
			</td>
		</tr>
	<% end %>

	</div>

	<% end %>
		<tr>
			<td> 
    		<%= 
    			link_to( "create a new item", 
						new_item_path( :kashflow_id =>  @kashflow.id, :end_date => @end_date )
					)
				%> 
			</td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		</tr>
</table>
