<table>
	<thead>
		<tr>
			<th> transaction </th>
			<th> date </th>
			<th> amount </th>
			<th> description </th>
			<th> balance </th>
			<th> Edit </th>
			<th> Destroy </th>
		</tr>
	</thead>
	<% @range.each do |item| %>
		<% if item.trx_type == "expense" then %>
		<tr style="color:red">
		<% else %>
		<tr style="color:green">
		<% end %>
			<td> <%= item.trx_type %> </td>
			<td> <%= item.trx_date %> </td>
			<td> <%= item.amount %> </td>
			<td> <%= item.name %> </td>

			<% if item.balance > 0 then %>
			  <td style="color:green" %> <%= item.balance %> </td>
			<% else %>
			  <td style="color:red" %> <%= item.balance %> </td>
			<% end %>

			<td> <%= link_to "Edit", edit_item_path( item ) %> </td>
			<td> <%= link_to "X", item, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
		</tr>
	<% end %>
		<tr style="color:purple">
			<td> 
				<%= link_to "create a new item", new_item_path( kashflow_id: @kashflow.id) %> 
			</td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		</tr>
</table>
