<p id="notice"><%= notice %></p>

<h1> Cashflow for year <%= @kashflow.year %> </h1>

<hr>

<h2> Filter the item view by date range </h2>

<%= form_with url:  @kashflow, method: :get, local: true  do |f| %>
  start date: 
	<%= f.date_field :start_date, 
	  min: @kashflow.min_date, max: @kashflow.max_date %>
	end date: 
  <%= f.date_field :end_date,
	  min: @kashflow.min_date, max: @kashflow.max_date %>
	<%= f.submit "filter items" %>
<% end %>

<br />
<hr>

<h2> Cashflow Items: <%= @range.length %> . <%= @title %> </h2>

<table>
	<thead>
		<tr>
			<th> transaction </th>
			<th> date </th>
			<th> amount </th>
			<th> description </th>
			<th> balance </th>
			<th> Edit </th>
			<th> Destroy </th>
		</tr>
	</thead>
	<% @range.each do |item| %>
		<% if item.trx_type == "expense" then %>
		<tr style="color:red">
		<% else %>
		<tr style="color:green">
		<% end %>
			<td> <%= item.trx_type %> </td>
			<td> <%= item.trx_date %> </td>
			<td> <%= item.amount %> </td>
			<td> <%= item.name %> </td>

			<% if item.balance > 0 then %>
			  <td style="color:green" %> <%= item.balance %> </td>
			<% else %>
			  <td style="color:red" %> <%= item.balance %> </td>
			<% end %>

			<td> <%= link_to "Edit", edit_item_path( item ) %> </td>
			<td> <%= link_to "X", item, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
		</tr>
	<% end %>
		<tr style="color:purple">
			<td> 
				<%= link_to "create a new item", new_item_path( kashflow_id: @kashflow.id) %> 
			</td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		</tr>
</table>

<hr>
<b> Balance </b> over date range:  <%= @kashflow.balance( @range ) %>

<hr>
First item for which balance <= 0:
<br />
<%= @kashflow.threshold( @range).to_s %>

<hr>

<%= link_to 'Edit', edit_kashflow_path(@kashflow) %> |
<%= link_to 'Back', kashflows_path %>

<hr>

<h2> Cashflow month view </h2>

<%= render partial: 'kmonth' %>
