<% require "./lib/presentation_month.rb" %>

<p id="notice"><%= notice %></p>

<h1> Cashflow for year <%= @kashflow.year %> </h1>

<hr>

<h2> Filter the item view by date range and view </h2>

<%= form_with url:  @kashflow, method: :get, local: true  do |f| %>
  start date: 
	<%= f.date_field :start_date, value: @start_date,
	  min: @kashflow.min_date, max: @kashflow.max_date %>
	end date: 
	<%= f.date_field :end_date, value: @end_date,
	  min: @kashflow.min_date, max: @kashflow.max_date %>
  view:
	<%= f.select :view, 
		[[ "table", "table"], [ "calendar", "calendar"]] %>
	<%= f.submit "filter items" %>
<% end %>

<br />
<hr>

<% view_toggle = params[:view].blank? ? "table" : params[:view] %>
<% if view_toggle == "table" then %>
<h2> Cashflow Items: <%= @title %> </h2>

<%= render partial: 'table'  %>
<% else %>

<h2> Cashflow month view </h2>

<% @presentation.each { |mh| %>
	<% month = PresentationMonth.new( mh ) %>
  <%= render partial: 'kmonth', locals: { month: month } %>
<% } %>

<% end  %>

<hr>
<b> Balance </b> over date range:  
<%= "%.2f" % @presentation.last[:items].last.balance %>

<hr>
First item for which balance <= 0:
<br />
TBD: 
@kashflow.threshold( @range).to_s

<hr>

<%= link_to 'Edit', edit_kashflow_path(@kashflow) %> |
<%= link_to 'Back', kashflows_path %>

<hr>

