<p id="notice"><%= notice %></p>

<p>
  <strong>Trx type:</strong>
  <%= @item.trx_type %>
</p>

<p>
  <strong>Trx date:</strong>
  <%= @item.trx_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @item.amount %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
