<p id="notice"><%= notice %></p>

<h1> Item details </h1>

<p>
  <strong>Trx type:</strong>
  <%= @item.trx_type %>
</p>

<p>
  <strong>Trx date:</strong>
  <%= @item.trx_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @item.amount %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back to cashflow', @item.kashflow %>

<p id="hook">
 the jquery hook paragraph
</p>
